body {
  margin: 0px; 
  background-color: rgb(173, 164, 172);
  display: flex;
  justify-content: center;
  min-height: 100vh; 
}

body,
h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

  #site-content { 
  max-width: 1800px;
  width: 100%;
  }  

.bookList {
  display:flex;
  margin-inline: auto;
  display:grid;
  grid-auto-flow: row dense;
  grid-auto-rows: var(--breakpoint-grid_auto-rows, minmax(min-content, max-content));
  grid-gap: var(--breakpoint-grid_row-gap,0) var(--breakpoint-grid_column-gap, 0px);
  grid-template-columns: var(--breakpoint-grid_column-template, repeat(var(--breakpoint-grid_columns,1), minmax(0, 1fr)));
  --breakpoint-grid_row-gap: 40px;
  --breakpoint-grid_column-gap: 24px;
  --breakpoint-grid_column-gap: var(10px);
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}

.bookCard {
  min-width: 100%;
  max-width: 100%;
  
} 

 /* .infoContainer {
  display:grid;
  flex-direction: column;
  gap: var(2px 8px);
  grid-template-columns: var(minmax(0, 1fr) max-content ); 
  grid-template-rows: var(unset);

 } */

 .overviewText {
  margin-top: 8px;

 }

@media (min-width: 550px) {
  .bookList {
    padding-inline-start: 40px;
    padding-inline-end: 40px;
  --breakpoint-grid_columns: 2;
  }
}

@media (min-width: 950px) {
  .bookList {
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    --breakpoint-grid_columns: 3;
  }
}

@media (min-width: 1128px) {
  .bookList {
    padding-inline-start: 80px;
    padding-inline-end: 80px;
    --breakpoint-grid_columns: 4;
  }
}



/* 

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
