body {
  margin: 0px; 
  background-color: rgb(173, 164, 172);
}

.app {
  display: flex;
  flex-direction: column;
}

.bookList {
  padding-inline-start: var(--explore_padding-inline);
  padding-inline-end: var(--explore_padding-inline);
  display:grid;
  grid-auto-flow: row dense;
  grid-auto-rows: var(--breakpoint-grid_auto-rows, minmax(min-content, max-content));
  grid-gap: var(--breakpoint-grid_row-gap,0) var(--breakpoint-grid_column-gap, 0px);
  grid-template-columns: var(--breakpoint-grid_column-template, repeat(var(--breakpoint-grid_columns,1), minmax(0, 1fr)));
}

@media (min-width: 950px) {
  .bookList {
  --breakpoint-grid_columns: 6;
  }
}

@media (min-width: 550px) {
  .bookList {
    --breakpoint-grid_columns: 4;
  }
}

.bookList {
  --breakpoint-grid_row-gap: 40px;
  --breakpoint-grid_column-gap: 24px;
}

/* .bookList {
  --breakpoint-grid_columns: var(--24px);
  --breakpoint-grid_row-gap: var(--40px);
  --breakpoint-grid_column-gap: var(10px);
} */

  .bookCard {
  margin: 0px;
  max-width: 400px;
  
} 

/* 

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
